<!DOCTYPE html>
<html ng-app="myapp" lang="en">
<head>
	<!--tabs-->
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--tabs-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>	
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="stylesheet" src="bootstrap.min.css"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="restart.js"></script>
	<script rel="stylesheet" src="restart.css"></script>
</head>
<body  ng-app="myapp" ng-controller="tableController">
	<div class="container-fluid">
		<div class="row" >
			<!--table 1-->
			<div class="col-sm-4">
				<table class="table table-stripe table-hover" width="400" >
				    <thead>
				    	<tr>
				            <th>Name</th>
				            <th>Gender</th>
				            <th> City </th>
				            <th> Action </th>
				        </tr>
				    </thead>
			        <tbody>
			                <tr ng-repeat="emp in employees">
			                    <td> {{ emp.Name }} </td>
			                    <td> {{emp.Gender }} </td>
			                    <td>  {{emp.City }}</td>
			                    <td><input type="checkbox" ng-model="emp.Remove"/></td>
			                </tr>
			    	</tbody>
			    </table>
			</div>
			
			<div class="col-sm-4">
				<!--buttons-->
		  		<div class="btn-group-vertical">
		    		<button type="button" class="btn btn-primary" ng-click="removeRow(); uncheckAll()">&#8594</button>
		   			<button type="button" class="btn btn-primary" ng-click="removeRow2(); uncheckAll2()">&#8592</button> 
				</div>
			</div>	
			<!--table 2-->
			<div class="col-sm-4">
				<table class="table table-stripe table-hover" width="400" >
				    <thead>
				    	<tr>
				            <th>Name</th>
				            <th>Gender</th>
				            <th> City </th>
				            <th> Action </th>
				        </tr>
				    </thead>
			        <tbody>
			                <tr ng-repeat="emp in right">
			                    <td> {{ emp.Name }} </td>
			                    <td> {{emp.Gender }} </td>
			                    <td>  {{emp.City }}</td>
			                    <td><input type="checkbox" ng-model="emp.Remove2"/></td>
			                </tr>
			    	</tbody>
			    </table>
			</div>
		</div>
	</div>
	<!--tabs-->
	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
	    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
	    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
	    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
	</ul>

	<div class="tab-content">
	    <div id="home" class="tab-pane fade in active">
	      <h3>HOME</h3>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	    </div>
	    <div id="menu1" class="tab-pane fade">
	      <h3>Menu 1</h3>
	      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	    </div>
	    <div id="menu2" class="tab-pane fade">
	      <h3>Menu 2</h3>
	      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
	    </div>
	    <div id="menu3" class="tab-pane fade">
	      <h3>Menu 3</h3>
	      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
	    </div>
	</div>
</body>
</html>
